<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Edit Topic</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div class="container">
<div class="row">
<div class="col-xs-12">



<form action="/topics/{{id}}?_method=PUT" method="POST">
	<div class="form-group">
	<center>
	
	<div class="input-wrap">
	<p>Title</p>
	<label>
	
	<input  class='form-control' type="text" name="title" value='{{title}}' />
	</label>
	</div>

	<div class="input-wrap">
	
	<p>Creator</p>
	<label>
	
	<input  class= 'form-control' type="text" name="creator" value='{{creator}}'/>
	</label>
	</div>

	<div class="input-wrap">
	<p>Date</p>
	<label>
	
	<input  class= 'form-control' type="text" name= "date" value='{{date}}'/>
	</label>
	</div>

	<br />

	<div class="input-wrap">
	<p>Body</p>
	<label>
	
	<textarea class= 'form-control' type="text" name="body" rows="10" cols="50" value='{{body}}'>
	</textarea>
	</label>
	</div>
	

	<br />
	<input type='submit' value='UPDATE' />
	

	<form action="/topics/{{id}}?_method=DELETE" method="POST">
	<input type='submit' value='DELETE' />
	</form>

	
	</center>



</form>

<br>

<form action="/topics" method="GET">
	<button id="cancel" type="submit">Cancel</button>
</form>


</div>
</div>
</div>
</div>

	
</body>
</html>