<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<title>Forum</title>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./css/bootstrap-responsive.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
<div class="img-bg" id='img1'>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Music Forum</h1>

				<form action="/topics" method="GET" >
					<button type="submit">Check Out The Latest Topics</button>
				</form>
			</div>
		</div>
	</div>
</div>



</div>
</body>
<script src='/bower_components/jquery/dist/jquery.js'></script>
</html>