<!DOCTYPE html>
<html lang='en'>
<style type="text/css">
body{
	background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQC7rm4yKdCv0hDdt7Py-smzI99qdSkr_Syu6vYIOcfWs63vusn-A");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% auto;

}

h1{
	color: black;
}

h2{
	color: black;
}
</style>
<head>
	<meta charset='UTF-8'>
	<title>Forum</title>
</head>
<body>
<center>
<h1>Welcome To My Forum!</h1>
<form action="/topics" method="GET">
<button>Click here for the list of topics</button>
</form>
</center>
<div>

<center>
<h2>Created by Michael J. Stokes</h2>
</center>

</div>
</body>
</html>