<!DOCTYPE html>
<html lang='en'>
<head>

	<meta charset='UTF-8'>
	<title>Topic ID</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>


<div class="container topic-title">
	<div class="row">
		<div class="col-xs-12">
			{{#topic}}
		<h1>{{body}}</h1>
		{{/topic}}
		</div>
	</div>
</div>
		
<div class='table'>
<div class="container">
	<div class="row">

		<div class="col-xs-12">

		

			<table class='comments' style='width:50%; border-spacing: 0;'>
				
				<tbody>
					<tr>
						<th>Name</th>
						<th>Comment</th>
						<th>Action</th>
					</tr>
					{{#comment}}
					<tr>
					
						<td>{{name}}</td>
						<td>{{input}}</td>
						<td><form action="/topics/{{id}}/comments/edit" method="GET">
							<input type="submit" value="Update Comment">
							</form>
						</td>

					</tr>	
					{{/comment}}
				</tbody>
			</table>

			<center>
			<form action="/topics/{{id}}/comments/new" method='GET'>

			<button>Create New Comment</button>
			</form>

			
			</center>
		</div>
	</div>
</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<center>
			<form action="/topics" method="GET">
			<button type="submit"> Back </button>
			</form>
			</center>

		</div>
	</div>
</div>

</body>
</html>