<!DOCTYPE html>
<html lang='en'>
<head>
<style type="text/css">
body{
	background-color: gray;

}
</style>
	<meta charset='UTF-8'>
	<title>Create New Comment</title>
</head>
<body>


<form action="/topics/{{id}}/comments/new" method="POST">



	<center>
	<label>

	Name:
	<br />
	<input type="text" name="person_created" id='topic_id' rows="10" cols="50" />
	</label>
	
	
	<br />
<label>
	Comment:

	<br />

	<textarea type="text" name="input">
		
	</textarea> 
	
	</label>
	<br />


<input type="hidden" name="topic_id" value='{{ id }}' />






	<input type='submit' value='Submit' />
	</center>
	
</form>

</body>
</html>