<!DOCTYPE html>
<html lang='en'>
<head>
<style type="text/css">
body{
	background-color: gray;

}
</style>
	<meta charset='UTF-8'>
	<title>Create New Comment</title>
</head>
<body>

<form action="/comments/new" method="POST">

	<center>
	<label>

	Name:
	<br />
	<input type="text" name="name" rows="10" cols="50" />
	</label>
	<label>
	
	<br />
<p>
</p>
	Comment:

	<br />

	<textarea type="text" name="name" rows="10" cols="50">
	</textarea>
	</label>
	<br />
	<button>Submit</button>
	</center>
</form>
</body>
</html>